---
---

{% for show in site.shows %}
	{% assign duration = show.images | size | times: 6 %}

	.slideshow.slideshow-{{show.title|slugify}} {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
	    -webkit-animation: imageAnimation-{{ forloop.index }} {{ duration }}s linear alternate infinite 0s;
	    -moz-animation: imageAnimation-{{ forloop.index }} {{ duration }}s linear alternate infinite 0s;
	    -o-animation: imageAnimation-{{ forloop.index }} {{ duration }}s linear alternate infinite 0s;
	    -ms-animation: imageAnimation-{{ forloop.index }} {{ duration }}s linear alternate infinite 0s;
	    animation: imageAnimation-{{ forloop.index }} {{ duration }}s linear alternate infinite 0s; 
	}

	@keyframes imageAnimation-{{ forloop.index }} { 
		{% assign numsteps = show.images | size | times: 2 %}
		{% for step in (1..numsteps) %}
			{% assign percentage = forloop.index | times: 100.0 | divided_by: numsteps  %}

			{% if forloop.index == 1 %}
				{% assign percentage = 0 %}
			{% endif %}
			{% assign remainder = forloop.index | modulo: 2 %}
			{% if remainder == 1 %}
				{% assign the_index = forloop.index | minus: 1 %}
			{% else %}
				{% assign the_index = forloop.index %}
			{% endif %}
			{% assign the_index = the_index | divided_by: 2 | minus: 1 %}
			{{ percentage }}% { 
				background-image: url({{ show.images[the_index] }}); 
			}
		{% endfor %}
	}

{% endfor %}
/* Show at least something when animations not supported */
.no-cssanimations .slideshow li {
	opacity: 1;
}