
// Font
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

// Colour Palette
$ac-color: (
	"heliotrope-gray": rgba(157, 140, 161, 1), 	//primary
	"beau-blue": rgba(180, 212, 238, 1),		//secondary
	"glossy-grape": rgba(153, 147, 178, 1), 	//info
	"maximum-blue": rgba(167, 171, 221, 1), 	//background 
	"old-lavender": rgba(129, 113, 122, 1),		//body type 
);

$primary: map-get($ac-color, "heliotrope-gray");
$secondary: map-get($ac-color, "beau-blue");
$body-color: darken(map-get($ac-color, "old-lavender"), 10%);
$body-bg: lighten(map-get($ac-color, "maximum-blue"), 15%);
.bg-primary {
	color: darken($body-color, 20%);
}
.bg-secondary {
	background-color: darken($secondary, 20%);
}
.bg-dark {
	color: lighten(map-get($ac-color, "maximum-blue"), 10%);
}

html {
	scroll-behavior: smooth;
	@extend .h-100;
}
body {
	@extend .d-flex, .flex-column, .h-100;
	font-family: 'Raleway', Helvetica, Arial, sans-serif !important;
}

.parallax {
	min-height: 10rem;
  	background-blend-mode: soft-light;
	background-attachment: fixed;
	background-position-x: center;
	background-repeat: no-repeat;
	background-size: cover;
	@extend .vh-100;
}
.show-heading {
	max-height: 35rem !important;
	background-position-x: center;
	background-position-y: 35%;
	@extend .w-100;
}
.site-title {
	@extend .my-auto, .semi-trans, .text-center, .font-weight-bold;
	h1 {
		font-weight: 900 !important;
		background: $primary;
		letter-spacing: 0.2rem;
		@media only screen and (min-width: map-get($grid-breakpoints, "md")) {
			letter-spacing: 0.8rem;
		}
	}
}
.section-heading {
	letter-spacing: 1rem;
	h1 {
		@extend .display-4;
		font-weight: 800 !important;
	}
	@media only screen and (min-width: map-get($grid-breakpoints, "md")) {
	  letter-spacing: 1.5rem;
	}
}
.show-title {
	@extend .display-4, .py-2, .px-4;
	span {
		@extend .font-weight-bold;
		text-transform: uppercase;
	}
}
.parallax-caption {
	@extend .show-title, .mx-0, .semi-trans, .w-100;
}

.full-column {
	@extend .col-12, .col-md-8, .offset-md-2;
}
.semi-trans {
	opacity: 0.85;
}
.fixed-nav {
	position: fixed !important;
	top: 0.5rem;
	right: 0.5rem;
	@media only screen and (min-width: map-get($grid-breakpoints, "md")) {
		top: 2rem;
		right: 2rem;
	}
	z-index: 2000;
	@extend .text-right;
}
.show-button {
	@extend .btn, .btn-primary, .btn-lg, .font-weight-bold, .rounded-0, .text-dark;
	text-transform: uppercase;
	position: absolute;
	bottom: 5rem;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%)
}