<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}?cachebust={{ site.time | date: "%Y%m%d%H%M"}}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">


    <title>{{ title | default: site.title }}</title>
  </head>
  <body>
  	<nav class="navbar navbar-light bg-primary fixed-nav">
		<button class="navbar-toggler btn-block border-0 rounded-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav text-center">
				<li class="nav-item">
					<a class="nav-link" href="#top">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#shows">Shows</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#contact">Contact</a>
				</li>
			</ul>
		</div>
  	</nav>
    <div class="container-fluid" id="top">
		<div class="row parallax bg-secondary vh-100" style="background-image:url(/static/img/amy.jpg); background-position: top;">
			<div class="full-column parallax-caption">
				<h1 class="display-1 bg-primary">{{ site.title | upcase }}</h1>
				<p class="lead bg-primary">{{ site.description }}</p>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="shows">
		<div class="row section-heading">
			<div class="col py-4">
				<h1 class="text-center">SHOWS</h2>
			</div>
		</div>
		{% assign shows = site.shows | show_date_sort | reverse %}
		{% for show in shows %}
		<div class="row bg-primary">
			<div class="col parallax vh-100 p-0" style="background-image:url({{ show.lead_image }});">
				<h2 class="section-caption bg-primary"><span class="font-weight-bold">{{ show.title | upcase }}</span> {% if show.playwright %}by {{ show.playwright }}{% endif %}</h2>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="container-fluid" id="contact">
		<div class="row">
			<div class="full-column section-heading">
				<h1 class='text-center my-4'>CONTACT</h1>
			</div>
		</div>
		<div class="row">
			<div class="full-column">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>
	<div class="container-fluid mt-auto footer">
		<div class="row bg-secondary">
			<div class="col">
				<p class="small">&copy; Amy Crighton, 2020<br>
				Web Design by <a href="https://web.samosborne.me/">Sam Osborne</a></p>
			</div>
		</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>

