---
layout: default 
---
	<div class="container-fluid" id="top">
		<div class="row parallax bg-secondary vh-100" style="background-image:url(/static/img/amy.jpg); background-position: top;">
			<div class="full-column site-title">
				<h1 class="display-1 bg-primary">{{ site.title | upcase }}</h1>
				<p class="lead bg-primary">{{ site.description }}</p>
			</div>
		</div>
	</div>
	<div class="container-fluid" id="shows">
		<div class="row section-heading">
			<div class="col py-4">
				<h1 class="text-center">SHOWS</h2>
			</div>
		</div>
		{% assign shows = site.shows | show_date_sort | reverse %}
		{% for show in shows %}
		<div class="row bg-primary">
			<div class="col parallax p-0 {% if site.enable_slideshows and show.images and show.images.size >= 2 %}slideshow slideshow-{{ show.title | slugify }}"{% else %}" style="background-image:url({{ show.lead_image }});"{% endif %}>
				<h2 class="parallax-caption bg-primary"><span class="font-weight-bold">{{ show.title }}</span> {% if show.playwright %}by {{ show.playwright }}{% endif %}</h2>
				<a class="show-button role="button" href="{{ show.permalink }}">See more</a>
			</div>
		</div>
		{% endfor %}
	</div>
	<div class="container-fluid" id="contact">
		<div class="row">
			<div class="full-column section-heading">
				<h1 class='text-center my-4'>CONTACT</h1>
			</div>
		</div>
		<div class="row bg-dark">
			<div class="full-column p-4">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
			</div>
		</div>
	</div>


